<!DOCTYPE html>
<html lang="en">
<head>
  <title>Allocate Task</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Udaan Test</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'add_asset' %}">Add Asset</a></li>
      <li><a href="{% url 'add_task' %}">Add Task</a></li>
      <li><a href="{% url 'add_worker' %}">Add Worker</a></li>
      <li class="active"><a href="{% url 'allocate_task' %}">Allocate Task</a></li>
      <li><a href="{% url 'assets_all' %}">All Assets</a></li>
    </ul>
  </div>
</nav>
  
<div class="container">
<form name="test" action="{% url 'allocate_task_form' %}" method="post" style="text-align:center">
  Asset Id:<br>
  <input type="text" name="assetId" value="">
  <br>
  Task id:<br>
  <input type="text" name="taskId" value="">
  <br>
  Worker id:<br>
  <input type="text" name="workerId" value="">
  <br>
  Task to be performed by:<br>
  <input type="datetime-local" name="taskToBePerformedBy" value="">
  <br><br>
  <input type="submit" value="Allocate Task">
</form>
</body>
</html>